<div>
    <div>
        <h2>Edit a post</h2>
    </div>
    <form id="edit-post">
        <div>
            <label for="edit-post-body" class="label"> edit post </label>
            <textarea name="edit-post-body" id="formInput" cols="30" rows="10"></textarea>
            <button type="submit" class="submitButton">submit</button>
        </div>
    </form>
</div>

<script src="/js/editPost.js"></script>